<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Loan Balance</h1>
    <p class="lead text-muted">Check your Loan Balance here:</p>

    Here is your loan balance:
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>#</th>
        <th>Month</th>
        <th>Expected Payment</th>
        <th>Payment</th>
        <th>Remainder</th>
      </tr>
      <tr>
        <td>1</td>
        <td>January</td>
        <td>200</td>
        <td>50</td>
        <td>150</td>
      </tr>
      <tr>
        <td>2</td>
        <td>February</td>
        <td>150</td>
        <td>30</td>
        <td>120</td>
      </tr>
      <tr>
        <td>3</td>
        <td>March</td>
        <td>120</td>
        <td>____</td>
        <td><u><strong>120</strong></u></td>
      </tr>
    </table>

  </div>
</section>
