<form #f="ngForm" (ngSubmit)="signIn(f.value)" class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
  <label class="sr-only" for="inputEmail">Email address</label>
  <input autofocus class="form-control" id="inputEmail" name="email" ngModel placeholder="Email address" required
         type="email">
  <label class="sr-only" for="inputPassword">Password</label>
  <input class="form-control" id="inputPassword" name="password" ngModel placeholder="Password" required
         type="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <br>
  <span><a routerLink="/register">Don't have account? Click here to register</a></span>
</form>
