<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{'Loan Application' | translate}}</h1>
    <p class="lead text-muted">{{'Apply for a loan here' | translate}}</p>
    <p class="lead text-muted">{{'Below are the loans that you qualify for' | translate}}</p>


    <p>
      <a routerLink="/register" class="btn btn-primary my-2 pr-2">FOSA Loan</a>
      <span class="m-2"></span>
      <a routerLink="/login" class="btn btn-primary my-2">Emergency Loan</a>
    </p>
  </div>
</section>
