<app-bs-navbar></app-bs-navbar>




<main role="main" class="container">

  <div class="row">
    <div class="col-3">
      <div class="card mt-4">
        <article class="card-group-item">
          <header class="card-header"><h6 class="title">Navigation </h6></header>
          <div class="filter-content">
            <div class="list-group list-group-flush">
              <a *ngIf="authService.isLoggedIn()" routerLink="/admin/applyLoan" class="list-group-item">Apply for Loan<span class="float-right badge badge-light round">3</span>  </a>
              <a *ngIf="authService.isLoggedIn()" routerLink="/admin/checkLoanLimits" class="list-group-item">Check Loan Limits<span class="float-right badge badge-light round">32</span>  </a>
              <a *ngIf="authService.isLoggedIn()" routerLink="/admin/checkBalance" class="list-group-item">Check Loan Balance<span class="float-right badge badge-light round">32</span>  </a>
              <a *ngIf="authService.isLoggedIn()" routerLink="/admin/downloadSchedule" class="list-group-item">Download Loan Schedule<span class="float-right badge badge-light round">12</span>  </a>
              <a *ngIf="authService.isLoggedIn()" (click)="onLogout()" routerLink="/login" class="list-group-item">Logout<span class="float-right badge badge-light round">12</span>  </a>

              <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="list-group-item">Login<span class="float-right badge badge-light round">12</span>  </a>
              <a *ngIf="!authService.isLoggedIn()" routerLink="/register" class="list-group-item">Register<span class="float-right badge badge-light round">12</span>  </a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</main>

